
// Job paramaters to set for this environment

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withName:trim_reads {
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 , 'cpus' ) }
  }
  withName: align_viral_reads {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 , 'cpus' ) }
  }
  withName: remove_host_reads_bt {
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 , 'cpus' ) }
  }
  withName: mark_dups {
	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 , 'cpus' ) }

  }
  withName: remove_host_reads_bloom  {
	cpus = { check_max( 8 , 'cpus' ) }
  }

 withLabel: gaas {
	container = "docker://quay.io/biocontainers/gaas:1.2.0--pl526r35_0"
 }
  withLabel: fastp {
	container = "docker://quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
  }
  withLabel: std {
	container = 'ikmb/virus-pipe:latest'
  }

  withLabel: 'bedtools' {
	container = "docker://quay.io/biocontainers/bedtools:2.30.0--hc088bd4_0"
  }

  withLabel: satsuma {
	container = "docker://mhoeppner/satsuma2:1.0"
  }
  
  withLabel: pathoscope {
	container = "docker://ikmb/pathoscope2:latest"
  }

  withLabel: kraken {
	container = "docker://quay.io/biocontainers/kraken2:2.0.8_beta--pl526hc9558a2_1"
  }

  withLabel: quast {
	container = "docker://quay.io/biocontainers/quast:5.0.2--1"
  }

  withLabel: bedtools {
	container = "docker://quay.io/biocontainers/bedtools:2.29.2--hc088bd4_0"
  }

  withLabel: pangolin {
	container = "docker://quay.io/biocontainers/pangolin:2.1.7--py_0"
  }

  withName: pathoscope_map {
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 , 'cpus' ) }
  }
  withName: pathoscope_id {
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName: assemble_virus {
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 12.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt , 'cpus' ) }

  }

}

