
// Job paramaters to set for this environment

params.kraken2_db = "/work_ifs/ikmb_repository/databases/Kraken2/2020-03_viruses"
params.ref_with_host="/work_ifs/ikmb_repository/databases/custom_indices/Homo_sapiens_GRCh38_no_alts_with_virus.fa"
params.host_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome"
params.pango_data = "/work_ifs/ikmb_repository/databases/pangolin-data/1.18"

params.metadata = true

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'htc'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /etc -B /mnt -B /scratch"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

params.max_cpus = 24
params.max_ram = 250.GB
