
// Job paramaters to set for this environment

params.filter_dir = "/work_ifs/ikmb_repository/databases/bloomfilter"
params.bloomfilter_host = "${params.filter_dir}/human_hg38/human_hg38.bf"
params.bloomfilter_viral = "${params.filter_dir}/refseq_viral/refseq.viral.bf"
params.pathoscope_index_dir="/work_ifs/ikmb_repository/databases/Pathoscope/2015-06"

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'test'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

params.max_cpus = 16
params.max_ram = 128.GB
